<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Главная</title>
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="">
        <ul>
            <a><li>Коммуникации</li></a>
            <a><li>Новости</li></a>
            <a><li>О нас</li></a>
            <a><li>Мероприятия</li></a>
        </ul>
        <a href="/logout">Выйти</a>
        <% if (user) { %>
          <% if (user.role === 'admin') { %>
            <a href="/adminp">Админ-панель</a>
          <% } %>
        <% } else { %>
          <p>Пожалуйста, авторизуйтесь.</p>
        <% } %>
    </header>
    <div class="index_1">
      <img src="/img/image 1.png" alt="" class="index_img">
      <div class="text_boxin1">
        <h2>Дай пять!</h2>
        <h3>Обновлённая культура Rostic's! <br> Жми на кнопку, чтобы разделить ценности с Rostic’s</h3>
        <button class="button_in1">перейти к ценностям</button>
      </div>
    </div>
</body>

</html>